<table class="short">
  <tr>
    <td>
      <img src="/images<%= @profilepic.image %>" class="avatar" id="avatar">

    </td>
    <td class="shortRight">

<div>"<span id="credo">This is a motto</span>"</div><br>
<div id="gender">Male</div>
<div><span id="age"><%= @user.age %></span> years old</div>
<div id="country">City<br>State<br>Country</div