<tr><td class="tableLeft"><a href="/user/1"><div><b>@user.username</b></div><img src="https://www.famefocus.com/wp-content/uploads/2017/05/tom-anderson-myspace.jpg"></a></td><td class="tableRight"><div><b class="date">maybe timestamp for comment here?</b></div><div>
  <p>@post.comments (this will need a jointable ): )</p></div>
</td></tr>