<% @comments.each do |comment| %>
<tr><td class="tableLeft"><a href="/user/1"><div><b><%= comment.author.username %></b></div><img src="/images<%= comment.author.images.first.image %>"></a></td><td class="tableRight"><div><b class="date">maybe timestamp for comment here?</b></div><div>
  <p>@post.comments (this will need a jointable ): )</p></div>
</td></tr>
<% end %>