<% @user.friends.each do |friend| %>
  <a href="/users/<%= friend.url.nil? ? friend.id : friend.url %>"><div class="fwiendFace"><b><%= friend.name %></b><img src="/images<%= friend.images.first.image %>" width="125"></div></a>
<% end %>