<div id="header">
  <a class="logo" href="/" style=""><b><span style="padding-top: 2px; position: absolute;"><p style="color: white">CRUDSpace</p></span></b></a>
  <span id="hUp" style="float:right;margin-right: 5px;margin-top: 3px;font-size: small;">
  <% if !logged_in? %>

 <a href="/user/new">SignUp</a><a href="/login">Login</a><
    <% else %>
    <% if logged_in? && !current_user.pending_friends.empty? %>
        <a href="/user/<%= current_user.id %>/friend_requests">New Friend Requests</a>
    <% end %>
    <a href="/logout">Logout</a>
  <% end %>
</span>

</div>
<div id="hSub">
  <a href="/">Home</a>
  | <a href="/friends">All <span class="sep">Friends</span></a>
</div>