<style>
  body {
    font: normal 8pt/normal Verdana, Arial, Helvetica, sans-serif;
    text-transform: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  #container {
    border-top: none;
  }

  #wrapper {
    width: 800px;
    margin: auto;
  }
  #header {
    height: 127px;
    font-weight: normal;
    position: relative;
    text-align: center;
  }
  #header #advert {
    position: absolute;
    width: 619px;
    height: 60px;
    overflow: hidden;
    bottom: 20px;
    left: 50%;
    margin-left: -310px;
    border: 2px solid #000;
  }
  /* Holly Hack \*/
  * html #header #advert {
    width: 618px;
  }
  /* End hack */
  #header #advert img {
    vertical-align: 50%;
    margin: 0;
    padding: 0;
  }
  #header #advert iframe {
    margin: 0;
    padding: 0;
  }
  #header form {
    margin: auto;
    padding: 0px;
    font-size: x-small;
    width: auto;
    position: absolute;
    left: 185px;
    top: 5px;
    right: 1%;
    text-align: left;
  }
  #header form input {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  #header form input.buttom {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color:#E0FFFF;
    margin: 0 0 0 8px;
  }
  #header .left {
    float: left;
    margin-top: 9px;
    margin-left: 9px;
    display: inline;
  }
  #header .right {
    float: right;
    margin: 9px 9px 0px 10px;
    font-weight: normal;
    display: inline;
  }
  #header .hide {
    display: none;
  }
  #header a, #header a:link {
    text-decoration: none;
  }
  #header a:hover {
    text-decoration: underline;
  }
  #header fieldset {
    border: none;
  }
  #header legend {
    display: none;
  }
  #nav {
    padding: 1px 0 0 /*4px*/;
    height: 25px;
    vertical-align: middle;
    text-align: left;
  }
  #nav ul {
    margin: auto;
    padding: 5px 0 0;
    list-style: none;
  }
  #nav li {
    margin: 2px 0 0;
    padding: 0 6px 0 7px;
    display: inline;
    border-right: 1px solid #000;
  }
  #nav p {
    margin: 6px auto;
    text-align: center;
  }
  #nav a, #nav a:link {
    text-decoration: none;
    margin: 0 4px 0 5px;
  }
  #nav a:hover {
    text-decoration: underline;
  }
  #nav .last {
    border-right: none;
  }
  #footer {
    margin: 10px;
    padding: 10px 0 0;
    clear: both;
    text-align: center;
  }
  #footer ul {
    margin: 0 0 15px 0;
    padding: 0px;
    list-style: none;
  }
  #footer li {
    display: inline;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid #039;
    font-weight: bold;
  }
  #footer .last {
    border-right: none;
  }
  #footer p {
    font-size: x-small;
    margin: 0px;
    padding: 5px;
  }
  #footer p.nav {
    font-size: 8pt;
    color: #039;
  }
  #footer p.nav a {
    margin: 0 5px 0 8px;
  }
  #footer p.end {
    margin: 0;
    padding: 0;
  }
  #footer p.end a {
    text-decoration: underline;
    font-size: xx-small
  }
  #footer a {
    font-weight: normal;
  }
  #nav .hide {
    display: none;
  }
  #main {
    width: 800px;
  }
  .clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
    display: block;
  }
  a, a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .hidden {
    display: none;
  }
  body {
    color: #000000;
    background: #e5e5e5;
  }
  #wrapper {
    /*background: #FFFFFF;*/
  }
  #header {
    background: #039;
    color: #FFFFFF;
  }
  #main {
    background: #fff;
  }
  #advert {
    background: #FFFFFF;
  }
  #nav {
    background: #6698CB;
    display: flex;
    flex-wrap: wrap;
    margin-top: -40px;
  }
  #nav a, #nav a:link, #nav a:visited {
    color: #FFFFFF;
  }
  #nav a:hover {
    color: #040c5c;
  }
  a, a:link, a:visited {
    color: #003399;
  }
  a:hover {
    color: #c00;
  }
  #header a, #header a:link, #header a:visited {
    color: #FFFFFF;
  }
  /*
       FILE ARCHIVED ON 00:26:12 Jun 18, 2005 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 22:25:42 Oct 03, 2020.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    PetaboxLoader3.datanode: 1863.657 (4)
    LoadShardBlock: 1326.023 (3)
    exclusion.robots.policy: 0.212
    captures_list: 1429.914
    RedisCDXSource: 82.739
    esindex: 0.009
    CDXLines.iter: 15.761 (3)
    load_resource: 769.661
    exclusion.robots: 0.225
    PetaboxLoader3.resolve: 105.263
  */
</style>
<div id="wrapper">
<div id="main">
<div id="header">
  <h1 class="hide">MySpace.com</h1>
  <span class="left"> <a href="/">MySpace.com</a> | <a href="/">Home</a></span> <span class="right"><a href="http://web.archive.org/web/20050618002553/http://viewmorepics.myspace.com/misc/faq.html">Help</a> | <% if !logged_in? %>
  <a href="/users/new">SignUp</a>
    <% else %>
   <a href="/logout">Logout</a>
  <% end %>
</span>


  <div id="advert"> <img src="http://web.archive.org/web/20050618002553im_/http://x.myspace.com/images/blog/blogLogo.gif" alt="MySpace"/>

  </div>
</div>
<div id="nav">
  <p><a class="navbar" href="/">Home</a>|<a class="navbar" href="/users">Browse</a><% if logged_in? %>
      |<a class="navbar" href="/users/<%= current_user.id %>/messages">Mail</a>
      <% end %></p>
</div>