<style>

</style>
<div id="wrapper">
<div id="main">
<div id="header">
  <h1 class="hide">MySpace.com</h1>
  <span class="left"> <a href="/">MySpace.com</a> | <a href="/">Home</a></span> <span class="right"><a href="http://web.archive.org/web/20050618002553/http://viewmorepics.myspace.com/misc/faq.html">Help</a> | <% if !logged_in? %>
  <a href="/users/new">SignUp</a>
    <% else %>
   <a href="/logout">Logout</a>
  <% end %>
</span>


  <div id="advert"> <img src="http://web.archive.org/web/20050618002553im_/http://x.myspace.com/images/blog/blogLogo.gif" alt="MySpace"/>

  </div>
</div>
<div id="nav">
  <p><a class="navbar" href="/">Home</a>|<a class="navbar" href="/users">Browse</a>|<a class="navbar" href="/users/online">Users Online (<%= User.online.count %>)</a><% if logged_in? %>|<a class="navbar" href="/users/<%= current_user.id_or_slug %>/messages">Mail</a>
      <% end %></p>
</div>