<% @users.each do |friend| %>
  <a href="<%= friend.url.nil? ? "/users/#{friend.id}" : "/#{friend.url}" %>"><div class="fwiendFace"><b><%= friend.name %></b><img src="/images<%= friend.images.first.image %>" width="125"></div></a>
<% end %>