<style>
  body {
    display: flex;
    flex-wrap: wrap;
  }
  div#login {
    border: #063797 1px solid;
    padding: 20px;
    text-align: center;
    color: #063797;
    margin: 20px;
  }
    div#login table {
      font: normal 8pt/normal Verdana, Arial, Helvetica, sans-serif;
      text-align: center;
    }
</style>
<div id="login">
  <h2>Member Login</h2>
  <h2 class="error"><%= @error %></h2>
  <form action="/login" method="post" name="theForm" id="theForm">
    <table>
      <tr class="email">
        <td class="label"><label for="username">Username: </label></td>
        <td class="input"><input type="text" name="username" id="username"/></td>
      </tr>
      <tr class="password">
        <td class="label"><label for="password">Password:</label></td>
        <td class="input"><input name="password" type="password" id="password"/></td>
      </tr>
      <tr class="buttons">
        <td colspan="2"><input name="Submit22" type="image" value="LOGIN" src="https://web.archive.org/web/20050321102632im_/http://www.myspace.com/images/button_login_main.gif" alt="Login"/>

          <a href="/users/new"><img src="https://web.archive.org/web/20050321102632im_/http://www.myspace.com/images/button_signup_main.gif" alt="SIGN UP NOW!" name="singup" border="0" id="singup"/></a></td>
      </tr>
      <tr class="forgot">
        <td colspan="2"><a href="https://web.archive.org/web/20050321102632/http://www.myspace.com/index.cfm?fuseaction=user.retrievepassword">Forgot your password?</a></td>
      </tr>
    </table>
  </form>
</div>
</div>