<style>
  div.fwiendFace img.onlinenow {
    width: auto;
  }
</style>
<form action="/users" method="get">
  <input type="text" name="search">
  <input type="submit">
</form>
<% @users.each do |friend| %>
  <a href="/users/<%= friend.id_or_slug %>"><div class="fwiendFace"><b><%= friend.name %></b><img src="/images<%= friend.images.first.image %>" width="125"><% if User.online.include?(friend) %><center><img class="onlinenow" src="https://myspace.windows93.net/img/online.gif"></center><% end %></div></a>
<% end %>