<style>
  div#login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

    form#spacefix {
      /*background-color: red;*/
      text-align: center;
    }
</style>
<h2>Signup</h2><br>
<div id="login">
<form method='POST' action='/user' enctype="multipart/form-data" id="spacefix">
  (Sign in) Username:  <input type="text" name="username"><br>
  Full Name (First/Last) <input type="text" name="name"><br>
  Password: <input type="password" name="password"><br>
  Age: <input type="number" name="age"><br>
  Bio: <input type="text" name="bio"><br>
  Motto: <input type="text" name="motto"><br>

  <label for="gender">Gender</label>

  <select name="gender" id="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="non-binary">Non-Binary</option>
  </select><br>

  <input type="hidden" name="country" id="countryId" value="US"/>
  <input type="hidden" value="United States" name="country">
  <select name="state" class="states" id="stateId" name="state">
    <option value="">Select State</option>
  </select>
  <select name="city" class="cities" id="cityId" name="city">
    <option value="">Select City</option>
  </select>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//geodata.solutions/includes/statecity.js"></script><br>


  Profile Picture:  <input type='file' name='file' class='form-control'><br>
  <button type='submit'> Submit </button>
</form>
</div>