<div id="login">
  <img src="/images<%= @user.images.first.image %>" class ="profilepicture">
</div>
<form method="post" action="/picture" id="editform">
    <input type="submit" value="Edit Picture">
  </form> <input type="submit" value="Delete Picture">