<html lang = "en">
<head>
  <title>MYSPACE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="/stylesheets/webarchive.css" rel="stylesheet" type="text/css"/>
  <style>
    body {
      font: normal 8pt/normal Verdana, Arial, Helvetica, sans-serif;
      text-transform: none;
      text-decoration: none;
    }
    a:link {
      text-decoration: none;
      color: #1c48ad;
    }

    a:visited {
      color: #1c48ad;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:active {
      text-decoration: underline;
    }
  </style>
  <style type="text/css">
    @media only screen and (max-width:768px){#container{padding-top: 20px;}}
  </style>
</head>
<body><div id="container">

  <%= erb :'/partials/header' %>

  <div style="padding:20px;">


    <div class = "container">


<%= yield %>


    </div>


  </div>


</div></body>
</html>