.pmp_info{ }
<style type=text/css>
.pimp_my_profile { }
  .pmp_credit { 
   
 } 

  .tableLeft, .tableRight { 
  width:960; 
 } 

  #main,#main,.tableLeft, .tableRight  { 
  background-color:transparent; 
 } 

  body  { 
  background-color:#000000; 
 background-image:url("http://content.pimp-my-profile.com/i11/6/11/19/f_94ffbcc6cc0b.jpg"); 
 background-position:Center Center; 
 background-attachment:fixed; 
 background-repeat:no-repeat; 
 border-color:#777777; 
 border-width:2px; 
 border-style:Double; 
  
  
  
  
  
  
  
 } 

  #main#header, #main#googlebar, #main#topnav, ul.profileUserAlbum li, #main, #main.topRight, .topLeft, #main.extended, #main.rightHead h3, #main.companiesModule li.topRight, .topLeftItem, #main.blogsModule h3, #main.calendarModule h3, #main.friendSpaceModule h3, #main.schoolsModule li.topRight, .topLeftItem, #main.networkingModule li.topRight, .topLeftItem, #main.interestsModule li, ul.profileUserAlbum li, #main.photo, #main.profileHeaderModule, #main.profileDemographics, #mainMid, #main.detailsModule li, #main.commentsModule h3,  #main.commentsModule ul.topRight, .topLeftList li, #main.commentsModule #main.userComment, #main.rightHead, h3.topRight, .topLeftHead span, #main.profileDemographics, ul.profileUserInfo, #main.userComment, li.odd, #main.topRight, .topLeftBody, #main.topRight, .topLeftList, #main.topRight, .topLeftHead, h3.topRight, .topLeftHead, h3.topRight, .topLeftHead span span  { 
  background-color:transparent; 
 border:none; 
 border-width:0 px; 
 } 

  #main.topRight, .topLeft  { 
  background-image:url("https://ct.pimp-my-profile.com/tp/000000-70-tp.png"); 
 background-repeat:repeat; 
 background-color:transparent; 
 } 

  #main.topRight, .topLeft  { 
  border-style:Double; 
 border-width:2px; 
 border-color:#777777; 
 } 

  #main[class~="moduleTop"],
					#main[class~="moduleTop"] #main,
					#main[class~="moduleBottom"],
					#main[class~="moduleBottom"] #main { 
  background-color:transparent; 
 background-image:none; 
 font-size:0px; 
 } 

  #main[class~="moduleTop"] #main #main,
					#main[class~="moduleBottom"] #main #main { 
  background-image:none; 
 } 

  #main[class~="moduleTop"] #main #main { 
  height:5px; 
 border-top:none; 
 } 

  #main[class~="moduleBottom"] #main #main { 
  border-bottom:none; 
 } 

  #main[class~="moduleMid"] { 
  border-left:none; 
 } 

  #main[class~="moduleMid1"] { 
  border-right:none; 
 } 

  .pmp_topleft { 
  position:absolute; top: 0px; left: 0px; 
 } 

  #main.extended { 
  background-image:url("https://ct.pimp-my-profile.com/i94/3/11/18/f_faff2fc846d7.gif"); 
 padding-top:20px; 
 background-repeat:no-repeat; 
 background-position:top left; 
 } 

  #main, li, p, #main, #main.topRight, .topLeftBody, #main.commentsModule p.datePosted, span.count { 
  color:#777777; 
 } 

 .topRight{
        float: right;
        width: calc( 60% - 20px );
        padding: 0px
      }

      .topLeft{
        float: left;
        width: calc( 40% - 20px );
        padding:0px;
      }